.backup
.backup2
.gitbackup
Hi/Hi/Hi.csproj
Hi/Hi/bin
Hi/Hi/Properties
Hi/Hi/Content
Hi/Hi/HiContent/Sound
LevelEditor
BMFont/*.csproj
BMFont/bin
BMFont/obj
BMFont/Properties
TileEngine/bin
TileEngine/Properties
TileEngine/Icon.png
TileEngine/TileEngine.csproj
Hi.sln
Hi.suo
Hi.userprefs
